body {
    background-color: black;
}

#content {
    color: white;
}

.season-spacer {
    height: 20px;
}

.year-label {
    color: lightgrey;
    font-size: medium;
}

.season-img {
    width: 100%;
}

#footer-space {
    height: 50px;
}